In [2]:
# lets start with python structures : list and dictionaries 
house = [50000000, 4, 'Duplex', 'Ikeja']
house = {
    'price (N)' : 50000000, 
    'no_of_rooms' : 4,
    'house_type' : 'Duplex',
    'location' : 'Ikeja'
}

In [4]:
#lets represent multiple houses using list 
house_1 = [50000000, 4, 'Duplex','Ikeja']
house_2 = [55000000, 3, 'Bungalow','Lekki']
house_3 = [25000000, 4, 'Bungalow','Ikorodu']
house_4 = [70000000, 6, 'Semi-Detached','Bariga']
house_5 = [500000000, 10, 'High-Rise','Badagry']

#lets calaculate the mean/average price of houses in Lagos, using our sample data of course 
list_of_prices = [house_1[0], house_2[0], house_3[0], house_4[0], house_5[0]]
print('house prices:',list_of_prices)

#lets calculate mean/average 
mean_house_price = sum(list_of_prices) / len(list_of_prices)

print('house prices (in Naira):\t', list_of_prices)
print('mean house price (in Naira):\t', mean_house_price)

house prices: [50000000, 55000000, 25000000, 70000000, 500000000]
house prices (in Naira):	 [50000000, 55000000, 25000000, 70000000, 500000000]
mean house price (in Naira):	 140000000.0

In [21]:
# lets switch to dictionaries 

house_1 = {
    'price (N)' : 50000000, 
    'no_of_rooms' : 4,
    'house_type' : 'duplex',
    'location' : 'Ikeja'
}

house_2 = {
    'price (N)' : 55000000, 
    'no_of_rooms' : 3,
    'house_type' : 'bungalow',
    'location' : 'Lekki'
}

house_3 = {
    'price (N)' : 25000000, 
    'no_of_rooms' : 4,
    'house_type' : 'bungalow',
    'location' : 'Ikorodu'
}

house_4 = {
    'price (N)' : 70000000, 
    'no_of_rooms' : 6,
    'house_type' : 'Semi-Detached',
    'location' : 'Bariga'
}

house_5 = {
    'price (N)' : 500000000, 
    'no_of_rooms' : 10,
    'house_type' : 'high-rise',
    'location' : 'Badagry'
}


#lets calaculate the mean/average price of houses in Lagos, using our sample data of course 
list_of_prices = [house_1['price (N)'], house_2['price (N)'], house_3['price (N)'], house_4['price (N)'], house_5['price (N)']]

#lets calculate mean/average 
mean_house_price = sum(list_of_prices) / len(list_of_prices)

print('house prices (in Naira):\t', list_of_prices)
print('mean house price (in Naira):\t', mean_house_price)

house prices (in Naira):	 [50000000, 55000000, 25000000, 70000000, 500000000]
mean house price (in Naira):	 140000000.0

In [25]:
#list of dictionaries
house_list =[
    {
    'price (N)' : 50000000, 
    'no_of_rooms' : 4,
    'house_type' : 'duplex',
    'location' : 'Ikeja'
},
 {
    'price (N)' : 55000000, 
    'no_of_rooms' : 3,
    'house_type' : 'bungalow',
    'location' : 'Lekki'
},
 {
    'price (N)' : 25000000, 
    'no_of_rooms' : 4,
    'house_type' : 'bungalow',
    'location' : 'Ikorodu'
},
 {
    'price (N)' : 70000000, 
    'no_of_rooms' : 6,
    'house_type' : 'semi-detached',
    'location' : 'Bariga'
},
{
    'price (N)' : 500000000, 
    'no_of_rooms' : 10,
    'house_type' : 'high-rise',
    'location' : 'Badagry'
}]

list_of_prices = [house_1['price (N)'], house_2['price (N)'], house_3['price (N)'], house_4['price (N)'], house_5['price (N)']]

mean_house_price = sum(list_of_prices) / len(list_of_prices)

duplex_count = 0
bungalow_count = 0
semi_detached_count = 0
high_rise_count = 0


for house in house_list :
   if house ['house_type'] == 'duplex':
        duplex_count = duplex_count + 1
   elif house ['house_type'] == 'bungalow' :
        bungalow_count = bungalow_count + 1
   elif house ['house_type'] == 'semi_detached' :
        semi_detached_count = semi_detached_count + 1
   elif house ['house_type'] == 'high_rise' :
        high_rise_count = high_rise_count + 1

In [1]:
# declare variable 'house_list'
house_list = [115910.26, 128, 4]

# print length of 'house_list',i.e, number of items in the list 
print('house_list_length:',len(house_list))

# print out all the items in the 'house_0_list' list
print(house_list)

house_list_length: 3
[115910.26, 128, 4]

In [2]:
# to get the value of the price from the house_list.....
print ('house_price:',house_list[0])

# to gget the value of the area covered by the house, from the house_list....
print('area of the house [sq meters]:', house_list[1])

# now lets calculate price per sq meters using these two values 
price_per_sqm = house_list[0] / house_list[1]
print('price per sq meter of the house is:', price_per_sqm)

house_price: 115910.26
area of the house [sq meters]: 128
price per sq meter of the house is: 905.54890625

In [3]:
# recall, the new value is assigned to the variable, price_per_sqm, and the name of the list is house_list
# lets print the list before adding new value

In [4]:
# lets declare the parent list, ,'named house_parent_list', and populate with eac of the house lists
parent_list_houses = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0]
]

# lets loop through the parent_list_houses
for house_list in parent_list_houses:
    print(house_list)

[115910.26, 128.0, 4.0]
[48718.17, 210.0, 3.0]
[28977.56, 58.0, 2.0]
[36932.27, 79.0, 3.0]
[83903.51, 111.0, 3.0]

In [6]:
# now that we've seen how the loop printed each of the house lists in the parent list, lets do more!
for house_list in parent_list_houses:
    # now lets calculate price per sq meters using these two values 
    price_per_sqm = house_list[0] / house_list[1]

    #then we append the value to the list, on the fly!
    house_list.append(price_per_sqm)

In [7]:
# lets take a look at what the parent list looks like now 
# looping through the parent_list
for house_list in parent_list_houses:
    print(house_list)

[115910.26, 128.0, 4.0, 905.54890625]
[48718.17, 210.0, 3.0, 231.9912857142857]
[28977.56, 58.0, 2.0, 499.61310344827587]
[36932.27, 79.0, 3.0, 467.4970886075949]
[83903.51, 111.0, 3.0, 755.8874774774774]

In [9]:
# lets rather have a parent list, that contains dictionaries for each house
parent_list_houses = [
    {
        'price': 115910.26,
        'area in sq_meters': 128.0,
        'no of rooms': 4.0},
    {
        'price': 48718.17,
        'area in sq_meters': 210.0,
        'no of rooms': 3.0},
    {
        'price': 28977.56,
        'area in sq_meters': 58.0,
        'no of rooms': 2.0},
    {
        'price': 36932.27,
        'area in sq_meters': 79.0,
        'no of rooms': 3.0},
    {
        'price': 83903.51,
        'area in sq_meters': 111.0,
        'no of rooms': 3.0}
]

In [10]:
# wwe loop through the parent list like we did before 
for house_dict in parent_list_houses:
    #now lets calculate price per sq meters using these two values
    price_per_sqm = house_dict['price'] / house_dict['area in sq_meters'] #notice how we used the dictionary keys instead of index number
   
    # to add the new value....
    house_dict['price per sq_meter'] = price_per_sqm #simple

In [11]:
#lets see what we now have in parent list
parent_list_houses

[{'price': 115910.26,
  'area in sq_meters': 128.0,
  'no of rooms': 4.0,
  'price per sq_meter': 905.54890625},
 {'price': 48718.17,
  'area in sq_meters': 210.0,
  'no of rooms': 3.0,
  'price per sq_meter': 231.9912857142857},
 {'price': 28977.56,
  'area in sq_meters': 58.0,
  'no of rooms': 2.0,
  'price per sq_meter': 499.61310344827587},
 {'price': 36932.27,
  'area in sq_meters': 79.0,
  'no of rooms': 3.0,
  'price per sq_meter': 467.4970886075949},
 {'price': 83903.51,
  'area in sq_meters': 111.0,
  'no of rooms': 3.0,
  'price per sq_meter': 755.8874774774774}]

In [12]:
# lets create an empty list, where we will put all house prices, we'd then calculate the mean of the prices afterwards
house_prices = []

# loop through the parent list 
for house_dict in parent_list_houses:
    #recall,  to add an item to a list , we use append ()
    house_prices.append(house_dict['price'])

#now lets see what we have in house_prices

In [ ]:
# lets create the dictinary
houses_columns = {
    'price': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    'area in sq_meters': [128.0, 210.0, 58.0, 79.0, 111.0],
    'no of rooms': [4.0, 3.0, 2.0, 3.0, 3.0]
}

#how do we loop through a dictionary ?
for key,values in houses_colums.item():
    mean = sum(value) /len(value)